.promotion_list{
    display:grid;
    /*flex: 1 1 33.33%;*/
    grid-row-gap:20px;
    grid-column-gap:20px;
    grid-template-columns: 373.3333px 393.3333px 393.3333px;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    width:1200px;
    justify-content: space-between;/*平均分配寬度，第一項和最後一項貼齊邊緣*/
    margin-top: 10px;
    
    margin-left: auto;
    margin-right: auto;
}

.pic_list{
    display:grid;
    /*grid-template-columns: 386.6666px  183.3333px 183.3333px 183.3333px 183.3333px;*/
    /*grid-template-columns: 400px 200px 200px 200px 200px;*/
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-column-gap:20px;
    grid-row-gap:20px;
    justify-content: space-between;/*平均分配寬度，第一項和最後一項貼齊邊緣*/
    margin-top: auto;
    width:1200px;;
    margin-left: auto;
    margin-right: auto;
}
.icon{
    flex:none;
    width:80px;
    height:50px;
    margin:0px;
    background-color: rgba(77, 244, 244, 0.374);
    object-fit: cover;
}
.star{
    width: 20px;
    height: 20px;
    position: absolute; /* 相對定位 */
    top: 0;
    right: 0;
    margin:10px;
}
.promotion{
    display: flex;
    font-size:20px;
    width:100%;
    height:50px;
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(77, 244, 244, 0.223)
}

.picture{
    display: flex;
    justify-content: flex-end; /* 右對齊 */
    align-items: flex-start; /* 上對齊 */
    width:100%;
    height: 250px; /* 這裡只是範例，可以根據實際情況設定高度 */
    position: relative; /* 啟用相對定位 */
    background-image: url("Salie.jpg");
    background-size: cover;
    background-position: center;
    margin-top: auto;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
    object-fit: cover;
}
.headline{
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height:250px;
    display: flex;
    margin-bottom: 20px;
    background-color: rgba(77, 244, 244, 0.223);
}
.title{
    size:20px;
    position: absolute;
    top: 85%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding:10px;
    text-align: center;
    background-color: rgba(110, 163, 36, 0.282);
    margin-left: auto; /* 在 Flexbox 中使用 margin 來實現自動填滿空間 */
    margin-right: auto; /* 在 Flexbox 中使用 margin 來實現自動填滿空間 */
}
.menu{
    width: 75px; 
    text-align: center; 
    font-size: 20px; 
    display: block;
    flex:auto;
    align-items: center
}
.phone-menu{
    display:none;
    text-align: center;
}
body{margin:0px}
.dropdown-content{
    display:none;
}

/*以上稱為電腦版設計，以下media部分為平板和手機板設計*/
@media(max-width:1200px){/*桌機的螢幕寬度最小為1280，此為平板寬度*/
    .promotion_list,.pic_list{
        flex-wrap: wrap;/*使項目垂直排列*/
    }
    .promotion_list{
        display:grid;
        flex-wrap: wrap;
        grid-row-gap:20px;
        grid-template-columns: 1fr 1fr;
        /*grid-template-columns: minmax(45%, 1fr) minmax(45%, 1fr) minmax(90%, 1fr);*/
        justify-content: center;
        margin-top: 10px;
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    .promotion{
        /*display: flex;*/
        size:20px;
        width:100%;
        height:50px;
        margin-left:auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgba(77, 244, 244, 0.223);
    }
    .promotion:nth-child(3) {
        grid-column: span 2; /* 讓第三個promotion橫跨兩列 */
    }
    .pic_list{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap:20px;
        justify-content: center;
        margin-top: auto;
        width:90%;
        margin-left: auto;
        margin-right: auto;
        /*background-image: url("frieren.jpg");*/
    }
    .picture{
        flex-grow: 1;
    }
    .picture:nth-child(9),
    .picture:nth-child(10) {
    grid-column: span 2; /* 讓第九和第十個 picture 橫跨兩列 */
}
}

@media(max-width:600px){/*手機的螢幕寬度最大為500，最小為360px*/
    .promotion_list,.pic_list{
        flex-wrap: wrap;/*使項目垂直排列*/
    }
    .promotion_list{
        display:grid;
        flex-wrap: wrap;
        grid-row-gap:20px;
        grid-template-columns: 1fr;
        justify-content: center;
        margin-top: 10px;
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    .promotion{
        display: flex;
        size:20px;
        width:100%;
        height:50px;
        margin-left:auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgba(77, 244, 244, 0.223);
        flex-grow:0;
    }
    /*.promotion:nth-child(3) {
        grid-column: span 1; /* 取消讓第三個promotion橫跨兩列 
    }*/
    .pic_list{
        display:grid;
        grid-template-columns: 1fr;
        grid-row-gap:20px;
        justify-content: center;
        margin-top: auto;
        width:90%;
        margin-left: auto;
        margin-right: auto;
        /*background-image: url("frieren.jpg");*/
    }
    .picture{
        flex-grow:0;
    }
    /*.picture:nth-child(9),
    .picture:nth-child(10) {
    grid-column: span 1; /* 取消讓第九和第十個 picture 橫跨兩列 
}*/
    .headline{
        font-size: 40px;
        text-align: center;
    }
    .menu{
        display:none;
        text-align: center;
    }
    .phone-menu{
        /*display:block;*/
        display:flex;
        text-align: center;
        justify-content: center;
        align-self: center;
        /*height:30px;*/
        object-fit: cover;
    }
    .phone-menu button{
        width:30px;
        height:30px;
        background-image: url('burger.png');
        background-size: cover;/*使圖片不會被按鈕擋住*/
        background-color: white;
        border-color: white;
    }
    .dropdown-content {
        display: none;
        flex-wrap: wrap;
        position: absolute;
        right: 0;
        top:0;
        bottom:0;
        background-color: #f9f9f9;
        min-width: 100px;
        border: 1px solid #ddd;
        z-index: 1;
      }
      .dropdown-content a{
       
        justify-content: center;
        
        font-size: 20px;
        /*margin-top: 20px;
        margin-bottom: 20px;
        padding:20px;*/
        margin:40px
    }
    .dropdown-content button{
        border:none;
        background-color: #f9f9f9;
        right:0;position: absolute;
        align-items: center;
        justify-items: center;
        height: 30px;
        width:30px;
        background-image: url('x_icon.png');
        background-size: cover;
    }
}