body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #fafafa;
    justify-content: center;
    align-items: center;
}

.title_container{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #007bff;
    height: 200px;
}

.login-container{
    margin-top: 50px;
    width:300px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    gap:20px;
}

.login-text{
    font-weight: bold;
    font-size: x-large;
    width:500px;
}

.login-box{
    font-size: x-large;
    font-weight: bold;
    width:20%;
}

#username, #password {
    width: 70%;
}
